@charset "YTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body {
    background-color: gray;
}

main {
    background-color: white;
    padding: 20px;
    line-height: 2em;
    border-radius: 10px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
}

main p {
    text-align: justify;
}

.azul {
    background-color: blue;
}

.laranja {
    background-color: coral;
}

.azul_claro {
    background-color: cornflowerblue;
}


/* width (largura) quando se usa width de 100% facilita a responsividade da imagem na página. */
img {
    width: 100%;
}